.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-container {
  flex: 0.6;
  color: black;
}

.step-container {
  flex: 0.4
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: black;
}

.text {
  color: black
}

.description {
  margin: 10px 0 20px;
}