// Palette colors
$primary-color: #008ac4;
$background-color: #e5e5e5;
$hover-color: #40a9ff;
$active-color: #096dd9;
$dark-sider-color: #191919;
$light-sider-color: #faf9f5;
$dark-color: #191919;
$light-color: #e8e6dd;
$placeholder-color: #bdbdbd;
$error-color: #fb4e28;
$warning-color: #fbb328;
$success-color: #03cfab;
$inactive-text-color: #848484;

// Configs
$base-border-radius: 8px;
$card-border-radius: 12px;
$collapse-border-radius: 12px;
$btn-border-radius: $base-border-radius;
$input-border-radius: 4px;
$form-border-radius: $base-border-radius;
$tabs-border-radius: $base-border-radius;
$step-color: white;

$btn-height: 40px;
$min-btn-width: 64px;
$font-size: 16px;
